@page "/"
@rendermode InteractiveServer
<PageTitle>TaskTracker - Home</PageTitle>
<main class="main">
    @if(_showForm)
    {
        <Auth RegisterSuccess="@RegisterSuccess" AuthOption="@_authOption" OnClose="CloseForm"></Auth>
    }

    <div class="main__background"></div>
    <div class="main__content">
        <header class="main__header">
            <div class="main__auth">
                <span class="main__link main__link--header" @onclick='() => OpenForm(AuthModel.Login)'>Login</span>
                <span class="main__link main__link--header" @onclick="() => OpenForm(AuthModel.Register)">Register</span>
            </div>
        </header>
        <section class="main__articles">
            <article class="main__article">
                <h1 class="main__article--header" @onclick='() => HandleDesc("Plan")'>Plan</h1>
                <div class="main__text--wrapper @(_showDesc["Plan"] ? "show" : "")">
                    <p class="main__text">Start with a solid foundation. Organize your daily tasks, set clear priorities, and categorize complex projects. Whether it's a simple to-do list or a team roadmap, our intuitive interface makes planning effortless.</p>
                </div>
            </article>
            <article class="main__article">
                <h1 class="main__article--header" @onclick='() => HandleDesc("Track")'>Track</h1>
                <div class="main__text--wrapper @(_showDesc["Track"] ? "show" : "")">
                    <p class="main__text">Stay on top of every detail. Monitor progress in real-time, manage deadlines, and visualize your workflow. Never miss a milestone again with smart reminders and a clear overview of what needs your attention next.</p>
                </div>
            </article>
            <article class="main__article">
                <h1 class="main__article--header" @onclick='() => HandleDesc("Achieve")'>Achieve</h1>
                <div class="main__text--wrapper @(_showDesc["Achieve"] ? "show" : "")">
                    <p class="main__text">Turn your goals into reality. Celebrate every completed task and analyze your productivity patterns. TaskTracker gives you the insights and motivation you need to finish projects faster and efficiently.</p>
                </div>
            </article>
        </section>
        <footer class="main__footer">
            <div class="main__title">
                <img class="main__logo" src="favicon.png" alt="Task tracker logo" />
                <div class="main__footer--header">
                    <h1 class="main__name">Task Tracker</h1>
                    <div class="main__description">
                        <span>Plan</span>
                        <span>Track</span>
                        <span>Achieve</span>
                    </div>
                </div>
            </div>
            <div class="main__try">
                <span class="main__link main__link--footer" @onclick="() => OpenForm(AuthModel.Register)">Try now!</span>
                <span class="main__without">or try without login</span>
            </div>
        </footer>
    </div>
</main>